*.userprefs
**/.metadata/**
**/.recommenders/**
**/.vs/**
**/bin/**
**/obj/**
**/packages/**
*.suo
*.csproj.user
*.lock.json
src/Android/Config\.json
src/iOS/Config\.json
src/Toolkit/Config\.json

*.designer.cs

src_forms/SmartRoadSenseCore.dll
src_forms/SmartRoadSenseCore.pdb
Config.json
